<!-- <div class="bar w3-bar w3-border w3-card-4 w3-red w3-padding-16">
    <a  class="w3-bar-item">Contact Us</a>
    <a href="#" class="w3-bar-item"><button class="w3-btn w3-blue-grey"><a href="#" [routerLink]="['/dashboard']">Back</a></button></a>
  </div> -->

  <div class="w3-bar w3-animate-right  w3-border w3-card-4 w3-red w3-padding-16">
    <!-- <a  class="w3-bar-item">Hospital App</a>
    <a href="#" class="w3-bar-item" [routerLink]="['/docter-details']">Docter Details</a>
    <a href="#" class="w3-bar-item" [routerLink]="['/services']">Services</a>
    <a href="#" class="w3-bar-item" [routerLink]="['/doctor-category']">Doctor Category</a>
    <a href="#" class="w3-bar-item" [routerLink]="['/details']">Details</a>
    <a href="#" class="w3-bar-item" [routerLink]="['/appointment-details']">Appointment Details</a>
    <a href="#" class="w3-bar-item">About Us</a>
    <a href="#" class="w3-bar-item">Contact Us</a> -->
  </div>
  
  <div class="w3-sidebar w3-animate-left  w3-light-grey w3-bar-block" style="width:25%">
    <img  src="../../../assets/images/5e18c64c0b1506ce2468f760e62c4bd8.jpg" class=" w3-circle" width="100" style="margin-top: 10px; margin-left: 100px;" />
    <h4  style="margin-top: 10px; margin-left: 70px;">OSCAR BARRETT</h4>
    <h6 style="margin-top: 10px; margin-left: 90px; font-size: 12px;"><strong>Balance: $1,359.00</strong></h6>
    <!-- <img src="../../../assets/images/logo1.png" style="width: 200px; margin-top: 10px; margin-left: 50px;" /> -->
    <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/dashboard']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Dashboard</a>
    <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/docter-details']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Docter Details</a>
    <a href="#" class="w3-bar-item w3-button"[routerLink]="['/services']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Services</a>
    <a href="#" class="w3-bar-item w3-button" [routerLink]="['/doctor-category']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Doctor Category</a>
    <a href="#" class="w3-bar-item w3-button" [routerLink]="['/details']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Details</a>
    <a href="#" class="w3-bar-item w3-button" [routerLink]="['/appointment-details']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Appointment Details</a>
    <a href="#" class="w3-bar-item  w3-button"  [routerLink]="['/location']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Location</a>
    <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/about-us']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> About Us</a>
    <a href="#" class="w3-bar-item  w3-button"  [routerLink]="['/contact-us']"><i class="w3-text-blue-grey fa fa-arrow-right"></i> Contact Us</a>
  </div>
  
  <div style="margin-left: 300px;">
    <div class="w3-animate-right container">
      <div class="row justify-content-center">
        <div style="text-align:center" class=" col-md-10">
          <h1 class="w3-text-red">Get In Touch</h1>
          <h2>Address</h2>
          <ul class="w3-ul">
              <li><strong><i class="fa fa-home" aria-hidden="true"></i> </strong> 12 Streat, City 11298 New York</li>
              <li><strong><i class="fa fa-envelope" aria-hidden="true"></i></strong> info@example.com</li>
              <li><strong><i class="fa fa-phone" aria-hidden="true"></i></strong> 1(222)5x86 x97x</li>
              <li><strong><i class="fa fa-globe" aria-hidden="true"></i></strong> http://www.example.com</li>
            </ul>
        </div>
      </div>
    </div>
  
    <div class="w3-animate-right container">
        <div class="row justify-content-center">
          <div style="text-align:center; margin-top:30px;" class=" col-md-10">
            <h2>Contact Form</h2>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm"  class="w3-container">
                <label class="w3-text-red"><b>Name</b></label>
               <input  ngModel name="name"  class="w3-input w3-border w3-light-grey" type="text" required>
  
               
               <label class="w3-text-red"><b>Subject</b></label>
               <input  ngModel name="subject" class="w3-input w3-border w3-light-grey" type="text" required><br />
              
                <label class="w3-text-red"><b>Email</b></label>
                <input ngModel #email="ngModel" name="email"  class="w3-input w3-border w3-light-grey" type="email" required><br />
  
                <label class="w3-text-red"><b>Your Message</b></label>
                <textarea ngModel name="content" class="w3-input w3-border w3-light-grey" type="text" required></textarea><br />
  
                <button  [disabled]="!f.valid" class="w3-btn w3-red w3-block">Send Message</button>
              </form> 
          </div>
        </div>
      </div>
  </div>
 