<div  class=" w3-bar w3-card-4 w3-black" >
    <a href="#" class=" w3-animate-left w3-bar-item w3-button w3-padding-32"><img  style="width:300px;" src="../../../assets/images/d.png" /></a>
    <div class=" w3-animate-right" style="margin-left: 600px; margin-top:45px;">
    <a  href="#" class="w3-bar-item" style="color: #808080" [routerLink]="['/index']"> <i class="fa fa-home"></i> Home</a>
    <a href="#" class="w3-bar-item" [routerLink]="['/about']">About Us</a>
    <a  href="#" class="w3-bar-item" [routerLink]="['/service']">Services</a>
    <a href="#" class="w3-bar-item" [routerLink]="['/contact']"><i class="fa fa-phone"></i> Contact Us</a>
    <a  href="#" class="w3-bar-item" style="color:#80335B" [routerLink]="['/register']"><i class="fa fa-user"  style="color:#80335B"></i> Signup</a>
    <a href="#" class="w3-bar-item" style="color:#A5467B" [routerLink]="['/login']"><i class="fa fa-lock" style="color:#A5467B"></i> Login</a>
    <a href="#" class="w3-bar-item" style="color:#A5467B">Appointment</a>
  </div>
  </div>

<div>
    <div class="w3-animate-zoom container">
      <div class="row justify-content-center">
        <div style="text-align:center" class=" col-md-10">
          <h1 style="color:#80335B; font-family: Arial, Helvetica, sans-serif; font-weight: bold">Get In Touch</h1>
          <h2  style="color: #808080">Address</h2>
          <ul class="w3-ul">
              <li style="color:#A5467B;"><strong><i class="fa fa-home" aria-hidden="true"></i> </strong> <em> 12 Streat, City 11298 New York</em></li>
              <li style="color:#A5467B;"><strong><i class="fa fa-envelope" aria-hidden="true"></i></strong> <em> info@example.com</em></li>
              <li style="color:#A5467B;"><strong><i class="fa fa-phone" aria-hidden="true"></i></strong> <em> 1(222)5x86 x97x</em></li>
              <li style="color:#A5467B;"><strong><i class="fa fa-globe" aria-hidden="true"></i></strong> <em> http://www.example.com</em></li>
            </ul>
        </div>
      </div>
    </div>
  
    <div class="w3-animate-zoom container">
        <div class="row justify-content-center">
          <div style="text-align:center; margin-top:30px;" class=" col-md-10">
            <h2  style="color: #808080">Contact Form</h2>
            <form  class="w3-container">
                <label  style="color:#A5467B;"><b>Name</b></label>
               <input   class="w3-input w3-border w3-light-grey" type="text" required>
  
               
               <label  style="color:#A5467B;"><b>Subject</b></label>
               <input   class="w3-input w3-border w3-light-grey" type="text" required><br />
              
                <label style="color:#A5467B;"><b>Email</b></label>
                <input  name="email"  class="w3-input w3-border w3-light-grey" type="email" required><br />
  
                <label  style="color:#A5467B;"><b>Your Message</b></label>
                <textarea class="w3-input w3-border w3-light-grey" type="text" required></textarea><br />
  
                <button style="background-color: #80335B; color: white"  class="w3-btn  w3-block">Send Message</button>
              </form> 
          </div>
        </div>
      </div>
  </div>

  
<div  style="margin-top:30px; background-color: #80335B"   class=" w3-bar w3-card-4  w3-padding-32">
  
    <a style="margin-left:400px; color: white" href="#" class="w3-bar-item">Created By Muhammed Asad Ali Akbar @CopyRight All Right Reserved</a>
  
  </div>
  
  <!-- <audio autoplay loop>
    <source src="../../../assets/Music/Sound 15.mp3" type="audio/mpeg">
  </audio> -->