<div  class=" w3-bar w3-card-4 w3-black" >
  <a href="#" class=" w3-animate-left w3-bar-item w3-button w3-padding-32"><img  style="width:300px;" src="../../../assets/images/d.png" /></a>
  <div class=" w3-animate-right" style="margin-left: 600px; margin-top:45px;">
  <a  href="#" class="w3-bar-item" style="color: #808080" [routerLink]="['/index']"> <i class="fa fa-home"></i> Home</a>
  <a href="#" class="w3-bar-item" [routerLink]="['/about']">About Us</a>
  <a  href="#" class="w3-bar-item" [routerLink]="['/service']">Services</a>
  <a href="#" class="w3-bar-item" [routerLink]="['/contact']"><i class="fa fa-phone" ></i> Contact Us</a>
  <a  href="#" class="w3-bar-item" style="color:#80335B" [routerLink]="['/register']"><i class="fa fa-user"  style="color:#80335B"></i> Signup</a>
  <a href="#" class="w3-bar-item" style="color:#A5467B" [routerLink]="['/login']"><i class="fa fa-lock" style="color:#A5467B"></i> Login</a>
  <a href="#" class="w3-bar-item" style="color:#A5467B">Appointment</a>
</div>
</div>
<div class="w3-animate-zoom">
  <div style="margin-top: 30px" class="container">
    <div class="row justify-content-center">
      <div style="text-align:center"  class="col-md-5">
        <img style="width:300px;" src="../../../assets/images/d.png" />
      </div>
    </div>
  </div>
  
  <div   style="margin-top: 30px"  class="container">
    <div class="row justify-content-center"> 
      <div class="col-md-12">
        <h2 style="text-align:center;color:#80335B;font-family: Arial, Helvetica, sans-serif; font-weight: bold"><i class="fa fa-user"></i> ABOUT OUR HOSPITAL</h2>
        <p style="text-align:center; margin-left:-40px;color:#A5467B;"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</em></p>
      </div>
    </div>
  </div>
  
  <div style="margin-top: 30px"   class="container">
    <div  class="row justify-content-center">
      <div class="col-md-12">
        <h1 style="text-align:center;color:#80335B;font-family: Arial, Helvetica, sans-serif; font-weight: bold"><i class="fa fa-exclamation-circle"></i> Our mission</h1>
  
        <p style="text-align:center;color:#A5467B"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</em></p>
      </div>
    </div>
  </div>
  
  <div style="margin-top: 30px"   class="container">
      <div  class="row justify-content-center">
        <div class="col-md-12">
          <h1 style="text-align:center;color:#80335B; font-family: Arial, Helvetica, sans-serif; font-weight: bold"><i class="fa fa-eye"></i> Our Vision</h1>
    
          <p style="text-align:center;color:#A5467B"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</em></p>
        </div>
      </div>
    </div></div>

<div  style="margin-top:10px; background-color: #80335B"   class=" w3-bar w3-card-4  w3-padding-32">
  
  <a style="margin-left:400px; color: white" href="#" class="w3-bar-item">Created By Muhammed Asad Ali Akbar @CopyRight All Right Reserved</a>

</div>

<!-- <audio autoplay loop>
  <source src="../../../assets/Music/Sound 15.mp3" type="audio/mpeg">
</audio> -->