
<div  class=" w3-bar w3-card-4 w3-black" >
  <a href="#" class=" w3-animate-left w3-bar-item w3-button w3-padding-32"><img  style="width:300px;" src="../../../assets/images/d.png" /></a>
  <div class=" w3-animate-right" style="margin-left: 600px; margin-top:45px;">
  <a  href="#" class="w3-bar-item" style="color: #808080" [routerLink]="['/index']"> <i class="fa fa-home"></i> Home</a>
  <a href="#" class="w3-bar-item" [routerLink]="['/about']">About Us</a>
  <a  href="#" class="w3-bar-item" [routerLink]="['/service']">Services</a>
  <a href="#" class="w3-bar-item" [routerLink]="['/contact']"><i class="fa fa-phone" ></i> Contact Us</a>
  <a  href="#" class="w3-bar-item" style="color:#80335B"  [routerLink]="['/register']"><i class="fa fa-user"  style="color:#80335B"></i> Signup</a>
  <a href="#" class="w3-bar-item" style="color:#A5467B"  [routerLink]="['/login']"><i class="fa fa-lock" style="color:#A5467B"></i> Login</a>
  <a href="#" class="w3-bar-item" style="color:#A5467B">Appointment</a>
</div>
</div>

<div  style="margin-top:10px;" class="w3-animate-zoom container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="bd-example">
              <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/dr-2157993_1920.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="w3-text-red">Welcome to CareYou</h5>
                      <p  class="w3-text-grey">There are many variations of passages of lorem
                          ipsum available, but the majority have suffered
                          alteration in some form.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/woman-doctor-with-gloves.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5  class="w3-text-red">Welcome to CareYou</h5>
                      <p  class="w3-text-grey">There are many variations of passages of lorem
                          ipsum available, but the majority have suffered
                          alteration in some form.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/dental-office-light.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5  class="w3-text-red">Welcome to CareYou</h5>
                      <p  class="w3-text-grey">There are many variations of passages of lorem
                          ipsum available, but the majority have suffered
                          alteration in some form.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                      <img src="../../../assets/images/nurse-2019420_1920.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5  class="w3-text-red">Welcome to CareYou</h5>
                        <p  class="w3-text-grey">There are many variations of passages of lorem
                            ipsum available, but the majority have suffered
                            alteration in some form.</p>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src="../../../assets/images/nurse-2141808_1920.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5  class="w3-text-red">Welcome to CareYou</h5>
                        <p  class="w3-text-grey">There are many variations of passages of lorem
                            ipsum available, but the majority have suffered
                            alteration in some form.</p>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src="../../../assets/images/doctor-2722941_1920.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5  class="w3-text-red">Welcome to CareYou</h5>
                        <p  class="w3-text-grey">There are many variations of passages of lorem
                            ipsum available, but the majority have suffered
                            alteration in some form.</p>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src="../../../assets/images/medical-equipment-4099428_1920.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5  class="w3-text-red">Welcome to CareYou</h5>
                        <p  class="w3-text-grey">There are many variations of passages of lorem
                            ipsum available, but the majority have suffered
                            alteration in some form.</p>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src="../../../assets/images/ani-kolleshi-684082-unsplash.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5  class="w3-text-red">Welcome to CareYou</h5>
                        <p  class="w3-text-grey">There are many variations of passages of lorem
                            ipsum available, but the majority have suffered
                            alteration in some form.</p>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src="../../../assets/images/doctor-2568481_1920.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5  class="w3-text-red">Welcome to CareYou</h5>
                        <p  class="w3-text-grey">There are many variations of passages of lorem
                            ipsum available, but the majority have suffered
                            alteration in some form.</p>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <img src="../../../assets/images/medical1.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5  class="w3-text-red">Welcome to CareYou</h5>
                        <p  class="w3-text-grey">There are many variations of passages of lorem
                            ipsum available, but the majority have suffered
                            alteration in some form.</p>
                      </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
      </div>
  </div>
</div>



<div  style="margin-top:10px; background-color: #80335B"   class=" w3-bar w3-card-4  w3-padding-32">
  
  <a style="margin-left:400px; color: white" href="#" class="w3-bar-item">Created By Muhammed Asad Ali Akbar @CopyRight All Right Reserved</a>

</div>


