<div class="container w3-animate-zoom">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <img class="img" src="../../../assets/images/a.png" />
      <img class="img-1" src="../../../assets/images/logo1.png" />
     
    </div>
  </div>
</div>

<div class="container w3-animate-zoom">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <button  class="w3-btn w3-blue-grey w3-block"><a href="#" class="anchor" [routerLink]="['/login']">Login</a></button><br />
      <button  class="w3-btn w3-red w3-block"><a href="#" class="anchor"  [routerLink]="['/register']">Register</a></button>
    </div>
  </div>
</div>