<!-- <div class="bar w3-bar w3-border w3-card-4 w3-red w3-padding-16">
  <a  class="w3-bar-item">Details</a>
  <a href="#" class="w3-bar-item"><button class="w3-btn w3-blue-grey"><a href="#" [routerLink]="['/dashboard']">Back</a></button></a>
</div> -->

<div class="w3-bar w3-animate-right   w3-card-4 w3-black w3-padding-16">
  <img src="../../../assets/images/d.png" width="150" style="margin-left: 50px" />
</div>

<div class="w3-sidebar w3-animate-left w3-card-4  w3-bar-block" style="width:25%;background-color:#80335B">
  <img  src="../../../assets/images/540060_1713898518909370_7901102692001249383_n.jpg" class=" w3-circle w3-card-4" width="100" style="margin-top: 10px; margin-left: 100px;" />
  <h4  style="margin-top: 10px; margin-left: 70px; color: white">OSCAR BARRETT</h4>
  <h6 style="margin-top: 10px; margin-left: 90px; font-size: 12px; color: white"><strong>Balance: $1,359.00</strong></h6>
  <!-- <img src="../../../assets/images/logo1.png" style="width: 200px; margin-top: 10px; margin-left: 50px;" /> -->
  <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/dashboard']" style="color: white"><i class=" fa fa-arrow-right"></i> Dashboard</a>
  <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/docter-details']" style="color: white"><i class=" fa fa-arrow-right"></i> Docter Details</a>
  <a href="#" class="w3-bar-item w3-button"[routerLink]="['/services']"style="color: white"><i class=" fa fa-arrow-right"></i> Services</a>
  <a href="#" class="w3-bar-item w3-button" [routerLink]="['/doctor-category']" style="color: white"><i class=" fa fa-arrow-right"></i> Doctor Category</a>
  <a href="#" class="w3-bar-item w3-button" [routerLink]="['/details']" style="color: white"><i class=" fa fa-arrow-right"></i> Details</a>
  <a href="#" class="w3-bar-item w3-button" [routerLink]="['/appointment-details']" style="color: white"><i class=" fa fa-arrow-right"></i> Appointment Details</a>
  <a href="#" class="w3-bar-item  w3-button"  [routerLink]="['/location']" style="color: white"><i class=" fa fa-arrow-right"></i> Location</a>
  <!-- <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/about-us']" style="color: white"><i class=" fa fa-arrow-right"></i> About Us</a>
  <a href="#" class="w3-bar-item  w3-button"  [routerLink]="['/contact-us']" style="color: white"><i class=" fa fa-arrow-right"></i> Contact Us</a> -->
</div>

<div class="w3-animate-right container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="w3-ul">
        <li class="w3-bar">
          <img src="../../../assets/images/doctors.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Suzanne Holroyd</span><br>
            <span class="w3-small" style="color:#A5467B"><em>MBBS, MRCP, FRCP (UK)</em></span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" [routerLink]="['/appointment']" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>
        
    
        <li class="w3-bar">
          <img src="../../../assets/images/lady-doctor-008.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. James Larn</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>
    
        <li class="w3-bar">
          <img src="../../../assets/images/marketing.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Raymond</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>

        <li class="w3-bar">
          <img src="../../../assets/images/Doctors2.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Paul Levine</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>

        <li class="w3-bar">
          <img src="../../../assets/images/800px_COLOURBOX2972933.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Suzanne Holroyd</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>

        <li class="w3-bar">
          <img src="../../../assets/images/3663837111_57e99b34a2_z.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. James Larn</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>

        <li class="w3-bar">
          <img src="../../../assets/images/16748872-beautiful-chinese-lady-doctor-wearing-a-white-coat-with-stethoscope-isolated-on-white-background.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Raymond</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>

        <li class="w3-bar">
          <img src="../../../assets/images/lady-doctor-414032.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Paul Levine</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>

        <li class="w3-bar">
          <img src="../../../assets/images/chinese-nurse-portrait-beautiful-41119179.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Paul Levine</span><br>
            <span class="w3-small" style="color:#A5467B">MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle  w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>

        <li class="w3-bar">
          <img src="../../../assets/images/800px_COLOURBOX5407404.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large" style="color: #80335B; font-weight: bold">Dr. Paul Levine</span><br>
            <span class="w3-small" style="color:#A5467B"> MBBS, MRCP, FRCP (UK)</span><br>
            <button class="w3-button btn w3-xlarge w3-circle = w3-card-4" style="background-color:#80335B; color: white">+</button>
          </div>
        </li>
      
      </ul>
    </div>
    </div>
  </div>
