
<div  class=" w3-bar w3-card-4 w3-black" >
  <a href="#" class=" w3-animate-left w3-bar-item w3-button w3-padding-32"><img  style="width:300px;" src="../../../assets/images/d.png" /></a>
  <div class=" w3-animate-right" style="margin-left: 600px; margin-top:45px;">
  <a  href="#" class="w3-bar-item" style="color: #808080" [routerLink]="['/index']"> <i class="fa fa-home"></i> Home</a>
  <a href="#" class="w3-bar-item" [routerLink]="['/about']">About Us</a>
  <a  href="#" class="w3-bar-item" [routerLink]="['/service']">Services</a>
  <a href="#" class="w3-bar-item" [routerLink]="['/contact']"><i class="fa fa-phone" ></i> Contact Us</a>
  <a  href="#" class="w3-bar-item" style="color:#80335B" [routerLink]="['/register']"><i class="fa fa-user"  style="color:#80335B"></i> Signup</a>
  <a href="#" class="w3-bar-item" style="color:#A5467B" [routerLink]="['/login']"><i class="fa fa-lock" style="color:#A5467B"></i> Login</a>
  <a href="#" class="w3-bar-item" style="color:#A5467B">Appointment</a>
</div>
</div>

<div style="margin-top: 30px;" class="w3-animate-left  container">
  <div class="row">
    <div class="col-md-5">
        <div style="text-align:center">
            <img  src="../../../assets/images/9212-200.png" width="100" />
        </div>
      <h2 style="text-align: center; color: #80335B; font-weight: bold">Cardiology</h2>
      <p style="text-align: center; color: #A5467B"><em>Contry to popular belief, Lorem Ipsum is not simply
        random text. It has roots in a piece of classical Latin
        literature from 45 BC...</em></p>
        <div style="text-align:center">
        <button style="background-color: #80335B; color:white"  class="w3-btn">Read More...</button></div>
    </div>
  </div>
</div>

<div style="margin-top: 30px;" class="w3-animate-left container">
    <div class="row">
      <div class="col-md-5">
          <div style="text-align:center">
              <img src="../../../assets/images/Organ_kidney-512.png" width="100" />
          </div>
        <h2 style="text-align: center; color: #80335B; font-weight: bold">Urology</h2>
        <p style="text-align: center; color: #A5467B"><em>Contry to popular belief, Lorem Ipsum is not simply
          random text. It has roots in a piece of classical Latin
          literature from 45 BC...</em></p>
          <div style="text-align:center">
          <button style="background-color: #80335B; color:white"  class="w3-btn">Read More...</button></div>
      </div>
    </div>
  </div>

  <div style="margin-top: -580px; position: absolute; margin-left:750px;" class=" w3-animate-left container">
      <div class="row">
        <div class="col-md-5">
            <div style="text-align:center">
                <img src="../../../assets/images/Orthopedic_Surgery-512.png" width="100" />
            </div>
          <h2 style="text-align: center; color: #80335B; font-weight: bold">Orthopaedics</h2>
          <p style="text-align: center; color: #A5467B"><em>Contry to popular belief, Lorem Ipsum is not simply
            random text. It has roots in a piece of classical Latin
            literature from 45 BC...</em></p>
            <div style="text-align:center">
            <button style="background-color: #80335B; color:white"  class="w3-btn">Read More...</button></div>
        </div>
      </div>
    </div>

    <div style="margin-top: -275px; position: absolute; margin-left:750px;" class="w3-animate-left container">
        <div class="row">
          <div class="col-md-5">
              <div style="text-align:center">
                  <img src="../../../assets/images/Medical-71-512.png" width="100" />
              </div>
            <h2 style="text-align: center; color: #80335B; font-weight: bold">Ophthalmology</h2>
            <p style="text-align: center; color: #A5467B"><em>Contry to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC...</em></p>
              <div style="text-align:center">
              <button style="background-color: #80335B; color:white"  class="w3-btn">Read More...</button></div>
          </div>
        </div>
      </div>
  

<div  style="margin-top:30px; background-color: #80335B"   class=" w3-bar w3-card-4  w3-padding-32">
  
  <a style="margin-left:400px; color: white" href="#" class="w3-bar-item">Created By Muhammed Asad Ali Akbar @CopyRight All Right Reserved</a>

</div>