<!-- <div class="bar w3-bar w3-border w3-card-4 w3-red w3-padding-16">
  <a  class="w3-bar-item">Doctor Details</a>
  <a href="#" class="w3-bar-item"><button class="w3-btn w3-blue-grey"><a href="#" [routerLink]="['/dashboard']">Back</a></button></a>
</div> -->

<div class="w3-bar w3-animate-right  w3-card-4 w3-black w3-padding-16">
  <img src="../../../assets/images/d.png" width="150" style="margin-left: 50px" />
</div>

<div class="w3-sidebar w3-animate-left w3-card-4  w3-bar-block" style="width:25%; background-color:#80335B">
  <img  src="../../../assets/images/540060_1713898518909370_7901102692001249383_n.jpg" class=" w3-circle w3-card-4" width="100" style="margin-top: 10px; margin-left: 100px;" />
  <h4  style="margin-top: 10px; margin-left: 70px; color: white">OSCAR BARRETT</h4>
  <h6 style="margin-top: 10px; margin-left: 90px; font-size: 12px;color: white"><strong>Balance: $1,359.00</strong></h6>
  <!-- <img src="../../../assets/images/logo1.png" style="width: 200px; margin-top: 10px; margin-left: 50px;" /> -->
  <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/dashboard']" style="color: white"><i class=" fa fa-arrow-right"></i> Dashboard</a>
  <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/docter-details']" style="color: white"><i class=" fa fa-arrow-right"></i> Docter Details</a>
  <a href="#" class="w3-bar-item w3-button"[routerLink]="['/services']" style="color: white"><i class=" fa fa-arrow-right"></i> Services</a>
  <a href="#" class="w3-bar-item w3-button" [routerLink]="['/doctor-category']"  style="color: white"><i class=" fa fa-arrow-right"></i> Doctor Category</a>
  <a href="#" class="w3-bar-item w3-button" [routerLink]="['/details']" style="color: white"><i class=" fa fa-arrow-right"></i> Details</a>
  <a href="#" class="w3-bar-item w3-button" [routerLink]="['/appointment-details']" style="color: white"><i class=" fa fa-arrow-right"></i> Appointment Details</a>
  <a href="#" class="w3-bar-item  w3-button"  [routerLink]="['/location']" style="color: white"><i class=" fa fa-arrow-right"></i> Location</a>
  <!-- <a href="#" class="w3-bar-item  w3-button" [routerLink]="['/about-us']" style="color: white"><i class=" fa fa-arrow-right"></i> About Us</a>
  <a href="#" class="w3-bar-item  w3-button"  [routerLink]="['/contact-us']" style="color: white"><i class=" fa fa-arrow-right"></i> Contact Us</a> -->
</div>

<div class="w3-animate-right container-fluid ">
  <div class="row justify-content-center">
    <div  class="col-md-8">
      <ul  class="w3-ul">
        <li class="w3-bar">
          <img src="../../../assets/images/Doctor.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large " style="font-weight:bold; color:#80335B">KNOW</span><br>
            <span style="color:grey">Your Doctor</span>
            <p class="w3-text-grey"><em style="color:#A5467B">Contry to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC...</em></p>
              <button class="w3-btn btn" style="background-color:#A5467B; color:white">Read More...</button>
          </div>
        </li>
        
    
        <li class="w3-bar">

          <img src="../../../assets/images/marketing.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large " style="font-weight:bold; color:#80335B">PATIENT</span><br>
            <span style="color:grey">Testimonial</span>
            <p class="w3-text-grey"><em style="color:#A5467B">Contry to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC...</em></p>
              <button class="w3-btn btn" style="background-color:#A5467B; color:white">Read More...</button>
          </div>
        </li>
    
        <li class="w3-bar">

          <img src="../../../assets/images/Doctor_1.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large " style="font-weight:bold; color:#80335B">MASTER</span><br>
            <span style="color:grey">Health Check</span>
            <p class="w3-text-grey"><em style="color:#A5467B">Contry to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC...</em></p>
              <button class="w3-btn btn" style="background-color:#A5467B; color:white">Read More...</button>
          </div>
        </li>

        
      </ul>
    </div>
    </div>
  </div>
